.link-font {
  font-size: 16px;
}

.dropdown-toggle::after {
  display: none;
}

.fa-chevron-down {
  font-size: 13px;
}

.form-control-borderless {
  border: none;
}

.form-control-borderless:hover,
.form-control-borderless:active,
.form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.card-body {
  padding: 7px;
}

.main-hading {
  font-size: 2.5rem;
}

.intro-container {
  width: 60%;
}

.main-paragraph {
  color: #a48bfe;
  letter-spacing: -0.03rem;
  color: hsla(0, 0%, 100%, 0.5) !important;
  font-size: 1.25rem;
}

.btn-success {
  color: #fff;
  background-color: #19cb98;
  border-color: #19cb98;
}

.main-img {
  height: 350px;
  width: 500px;
}

.courses-heading {
  font-family: Inter, "sans-serif";
  font-weight: 600 !important;
  line-height: 1.4;
  color: #18113c;
}

.courses-para {
  font-family: Inter, "sans-serif";
  margin-top: -10px;
  font-weight: 100;
  color: rgb(88, 88, 88);
}

.emoji-container {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #ffeeda;
}

.emoji {
  color: #c28135;
}

.recommendation-heading {
  font-family: Inter, "sans-serif";
  font-size: 1.5rem;
  font-weight: 600;
  padding: 8rem 8rem 0 8rem;
}

.carousel-directions {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
}

.footer {
  padding: 120px 40px 0 40px;
  background-color: #f5f4f8;
}

.dropdown:hover .dropdown-menu {
  display: block;
  border: none;
  width: 200px;
}

.dropdown-item {
  font-size: 0.875rem;
  line-height: 28px;
  font-weight: 500;
  color: #18113c;
  padding: 0.125rem 1.2rem;
}

.dropdown-item:hover {
  color: #754ffe;
}

.nav-item:hover {
  color: #754ffe;
}

.dropdown .dropdown-menu {
  display: none;
}

.navbar .navbar-nav .nav-link {
  font-size: 0.875rem;
  color: #18113c;
  font-weight: 500;
}

.navbar .navbar-nav .nav-link:hover {
  color: #808080;
}

.next-drop-icon {
  font-size: 10px;
  font-weight: 500;
}

.landing-heading {
  font-size: 13px;
  padding: 12px 12px 0 18px;
  color: rgb(165, 165, 165);
}

.documnetation-icon {
  font-size: 20px;
}

.documnetation-para {
  position: relative;
  top: -12px;
}

.avatar-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.online-sect {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: relative;
  bottom: 10px;
  left: 25px;
  border: 2px solid white;
}

.notication-bell {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #efeff0;
  color: #a8a3b9;
}

.noti-sect {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  right: 20px;
  bottom: 4px;
  border: 2px solid white;
}

.notication-bell:hover {
  background-color: #d6d6d6;
  color: #0D6EFD;
}
